.shop {
    display: none;
}

.arrow {
    margin-top: -2.2rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.arrow:hover {
    color: #fff;
}

@media (max-width:870px) {
    .shop {
        display: flex;
    }
    .cart {
        display: none;
        width: 0;
        margin: 0;
    }
    .dasboard {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .garis {
        width: 95vw;
    }
    .home {
        justify-content: center;
    }
}